body {
    font-family: 'Poppins', sans-serif;
}

.header-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-menu {
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}

nav li:hover {
    background-color: lightgray;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav>ul>li:hover>ul {
    display: block;
}


.journey-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.journey-img {
    background-image: url(images/Circle\ design.svg);
}










.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
























/*section footer start*/
.footer-area {
    background-color: #080836;
}

.footer-text {
    text-align: center;
}

.footer-text h1 {
    padding-top: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.footer-text p {
    color: white;
    font-size: 10px;
    padding-bottom: 10px;
}

.footer-logo {
    text-align: center;
    color: white;
}

.footer-logo .fa-brands {
    padding-left: 15px;
}

/*section footer end*/